// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  margin-bottom: 0;
}

img {
  max-width: 200px;
}

ul {
  list-style: none;
}

.pantry-item-show {
  margin: auto;
  width: 40%;

}