.container {
	text-align: middle;
}

#level {
	text-align: center;
}

.invoice {
	text-align: 
}

#body_pat {
	background-color: #EEEAE5;
}


.visited {
	color: #00796C;
	text-align: center;

}

.items {
	background-color:white;
}

.welcome {
	color: #00796C;
}

#level {
	text-align: center;
	font-style: arial;
}

.types {
	background-color:white;
}

li {
	color: #00796C;
}
