<li>
  <%= link_to cart_path do%>
    <i class="fi-shopping-cart"></i>  <!-- This is a Foundation icon, if we're using Foundation. Optional.-->
    My Cart
    (<span class="cart-count"><%=current_user.cart_count%></span>)
  <%end%>
</li>