<!DOCTYPE html>
<html>
<%= csrf_meta_tags %>
<%= render 'layouts/header' %>
<%= Gon::Base.render_data({}) %>
<script src="https://js.braintreegateway.com/v2/braintree.js"></script>

<!-- TRAIN FIX -->
<link rel="stylesheet" href="assets/javascripts/bootstrap.min.css">
</head>
<body>

<%= yield %>

</body>
</html>
