<!DOCTYPE html>
<html>
<%= csrf_meta_tags %>
<%= render 'layouts/header' %>
<%= Gon::Base.render_data({}) %>
<script src="https://js.braintreegateway.com/v2/braintree.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>

<%= yield %>

</body>
</html>
